{% extends "layout.njk" %}
{% block  content %}
<h1><a href="/new">Create a new post</a></h1>
  <ul>
    {% for row in rows %}
        <li>
            {{ row | dump }}
        </li>
    {% endfor %}
</ul>
{% endblock %}